@import url("/css/reset.css");
@import url("/css/contact.css");
@font-face {
    font-family: "Baskerville-Libre";
    src: url('../fonts/LibreBaskerville-Regular.otf')
}
body, html {
    min-width: 680px;
    width:100%;
    height:100%;
    color:darkRed;
    font-family: 'Lily Script One', cursive;
   }

h1 {
    margin-top:0;
    font-size:80px;
    line-height:0.75em;
    margin-bottom:-25px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size:35px;
    padding-top: 5%; 
}   

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 5%; 
    padding-bottom: 5px;
}   

header {
background: url("/img/nashville.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

#main-nav-floater {
float: left;
height: 50%;
width: 100%;
margin-bottom:-100px;
}

.main-nav {
    clear:both;
    list-style:none;
    font-family: 'Lily Script one', cursive;
    font-size:200%;
    height:50px;
    text-align:center;
    width:100%;
    z-index:10;
}
.main-nav a {
    color:#fffaf0;
    text-decoration:none;
}
.main-nav li{
    display:inline;
    padding:0 5% 0 5%;
}
.main-nav ul{
    background-color:#8E2800;
    display:inline-block;
    padding:10px;
    width:100%;
}
.fixed {
position: fixed;
top: 0;   
}

.main-container {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
#welcome {
    background-color:#FFB03B;
    height: 150px;
}
#welcome p {
    margin-left:auto;
    margin-right:auto;
    width:28%;
}

#about {
    background-color:#8b8878;
    height:800px;
    background: url("/img/wicker-park.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.container-floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom:-40%;
}

#about-tag {
    position: absolute;
    top: 50px;
}

.container-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative; 
}

.opaque {
    background:rgb(0,0,0);
        background: transparent\9;
        background:rgba(0,0,0,.6);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
        zoom: 1;
}

.container-content p {
    filter: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;    
    font-weight: 100;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

.container-content h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.border { border: solid 1.5px white; }

#skills {
    background-color:#468966;
    height: 100%;
}

#skills h1 { padding-top: 60px; }

.container-table {
    margin: 0 auto;
    text-align: center;
    display: table;
}

.container-example {
    border: solid 15px #468966;
    display: inline-block;
    width: 25%;
    height: 200px;
}

.container-example img {
    max-width: 100%;
    height: 200px;
}


.container-example:hover { border: solid 15px #FFB03B; } 

.skillsets {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.examples {
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.skillset-container {
    display: inline-block;
    width: 20%;
    margin-top: 50px;
    padding: 2%;
}

.skillset-container h2 {
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.skillset {
    height: 30px;
    background-color: #2c5640;
    width: 100%;
}

.html-css {
    height: 100%;
    width: 80%;
    background-color: #FFB03B;
}

.html-css.start {
    -webkit-animation: html-css 2s;
    -moz-animation: html-css 2s;
    -o-animation: html-css 2s;
    animation: html-css 2s;
}

@-moz-keyframes html-css{
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes html-css{
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.jquery{
    height: 100%;
    width: 30%;
    background-color: #FFB03B;
}

.jquery.start {
    -webkit-animation: jquery 2s;
    -moz-animation: jquery 2s;
    -o-animation: jquery 2s;
    animation: jquery 2s;
}

@-moz-keyframes jquery{
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@-webkit-keyframes jquery{
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

.java{
    height: 100%;
    width: 60%;
    background-color: #FFB03B;
}

.java.start {
    -webkit-animation: java 2s;
    -moz-animation: java 2s;
    -o-animation: java 2s;
    animation: java 2s;
}

@-moz-keyframes java{
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@-webkit-keyframes java{
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

.php{
    height: 100%;
    width: 30%;
    background-color: #FFB03B;
}

.php.start {
    -webkit-animation: php 2s;
    -moz-animation: php 2s;
    -o-animation: php 2s;
    animation: php 2s;
}

@-moz-keyframes php{
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@-webkit-keyframes php{
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
.ruby{
    height: 100%;
    width: 60%;
    background-color: #FFB03B;
}

.ruby.start {
    -webkit-animation: ruby 2s;
    -moz-animation: ruby 2s;
    -o-animation: ruby 2s;
    animation: ruby 2s;
}

@-moz-keyframes ruby{
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@-webkit-keyframes ruby{
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
.mysql{
    height: 100%;
    width: 40%;
    background-color: #FFB03B;
}

.mysql.start {
    -webkit-animation: mysql 2s;
    -moz-animation: mysql 2s;
    -o-animation: mysql 2s;
    animation: mysql 2s;
}

@-moz-keyframes mysql{
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-webkit-keyframes mysql{
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}
.git{
    height: 100%;
    width: 70%;
    background-color: #FFB03B;
}

.git.start {
    -webkit-animation: git 2s;
    -moz-animation: git 2s;
    -o-animation: git 2s;
    animation: git 2s;
}

@-moz-keyframes git{
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes git{
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
.cli{
    height: 100%;
    width: 80%;
    background-color: #FFB03B;
}

.cli.start {
    -webkit-animation: cli 2s;
    -moz-animation: cli 2s;
    -o-animation: cli 2s;
    animation: cli 2s;
}

@-moz-keyframes cli{
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes cli{
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
#contact {
    background-color:#ecc3bf;
    background: url("/img/delmar-loop.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

#contact h1 {
padding-top: 60px;
padding-bottom: 40px;
}

#contact-area {
width: 50%;
float: left;
}

#contact-image {
width: 50%;
float: right;
text-align: center;
}

#contact-image img {
    margin-top: 20px;
    max-width: 70%;
    display: inline-block;
}

#container-input {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

label {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 40px;
    margin-top: 20px;
    letter-spacing: 2px;
}

/* Style the text boxes */
input, textarea {
        font-family: 'Roboto', sans-serif;
        display: block;
        width:80%;
        height:27px;
        background:#efefef;
        border:1px solid #dedede;
        padding:10px;
        margin-left: 40px;
        margin-top:3px;
        font-size:0.9em;
        color:#3a3a3a;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    color: white;
    font-size: 15px;
    width:127px;
    height:38px;
    background-color:#FFB03B;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
}


.top-padding { padding-top: 5% }
.center { text-align: center }
.cf { clear: both; }
