@font-face {
    font-family: "Baskerville-Libre";
    src: url('../fonts/LibreBaskerville-Regular.otf')
}
body {
    width:100%;
    height:100%;
    color:darkRed;
    font-family:"Baskerville-Libre"}
h1 {
    font-size:700%;
    margin-bottom:-25px;
}

header {
}
.main-nav {
    list-style:none;
    font-family: 'Baskerville-Libre';
    font-size:200%;
    margin:0;
    padding:0;
    text-align:center;
    position:fixed;
    width:80%;
    top:-30px;
}
.main-nav a {
    color:#fffaf0;
    text-decoration:none;
}
.main-nav li{
    display:inline;
    padding:0 10% 0 10%;
}
.main-nav ul{
    background-color:#99CDC9;
    display:inline-block;
    padding:10px;
    width:80%;
    border-radius:20px;
}

.main-container {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
#welcome {
    background-color:#fffaf0;
    height:800px;
    margin-top:10px;
    border-radius:20px;
}
#welcome p {
    margin-left:auto;
    margin-right:auto;
    width:28%;
}
#welcome h1 {
    margin-left:auto;
    margin-right:auto;
    padding-top:150px;
    width:28%;
}
#about {
    background-color:#8b8878;
    height:800px;
    border-radius:20px;
}
#about h1 {
padding-top: 60px;}

#skills {
    background-color:#99CDC9;
    height:800px;
    border-radius:20px;
}
#skills h1 {
padding-top: 60px;
}
#skills img {
float:left;
width:30%;
margin:15px;
}

#contact {
    background-color:#ecc3bf;
    height:800px;
}
#contact h1 {
padding-top: 60px}
